<div class="summary-container">

    <!-- Loading State -->
    <div *ngIf="isLoading" class="loading-state">
      <div class="summary-section">
        <p-skeleton height="2rem" width="200px" styleClass="mb-3"></p-skeleton>
        <p-skeleton *ngFor="let item of [1,2,3,4,5,6]" height="1.5rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  
    <p-accordion *ngIf="!isLoading" [multiple]="true" [activeIndex]="activeAccordionIndexes">
      <p-accordionTab header="Personal Information">
        <div class="rows-list">
          <div class="row-item" *ngFor="let item of personalInfoItems">
            <span class="row-label">{{ item.label }}:</span>
            <span class="row-value">{{ item.value }}</span>
          </div>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Next of Kin Information">
        <div class="rows-list">
          <div class="row-item" *ngFor="let item of nextOfKinItems">
            <span class="row-label">{{ item.label }}:</span>
            <span class="row-value">{{ item.value }}</span>
          </div>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Academic History">
        <div class="rows-list">
          <div class="row-item" *ngFor="let item of academicItems">
            <span class="row-label">{{ item.label }}:</span>
            <span class="row-value">{{ item.value }}</span>
          </div>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Documents">
        <div class="documents-list">
          <div class="document-row" *ngFor="let doc of documentItems">
            <span class="doc-label">{{ doc.label }}:</span>
            <div class="doc-file">
              <i class="pi pi-file"></i>
              <div class="doc-meta">
                <span class="doc-name">{{ doc.fileName }}</span>
                <span class="doc-size">{{ doc.fileSize }}</span>
              </div>
            </div>
            <button type="button" class="view-doc-btn" (click)="openDocument(doc.fileUrl)" title="View document">
              <i class="pi pi-eye"></i>
            </button>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  
  </div>
