<p-sidebar 
  [(visible)]="sidebarVisible" 
  position="left"
  [modal]="false"
  [dismissible]="false"
  [showCloseIcon]="false"
  styleClass="custom-sidebar"
>
  <ng-template pTemplate="header">
    <div class="sidebar-header">
      <img src="../../../assets/sblogo.png" alt="Logo" class="sidebar-logo" />
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="sidebar-menu">
      <a
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        routerLinkActive="active-menu-item"
        class="menu-item"
      >
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </a>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="sidebar-footer">
      <button 
        pButton 
        (click)="logOut()" 
        class="logout-button"
        severity="danger"
        [text]="true"
      >
        <i class="pi pi-sign-out"></i>
        <span>Logout</span>
      </button>
    </div>
  </ng-template>
</p-sidebar>
