:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --text-color: #ffffff;
    --text-color-secondary: #f8fafc;
    --p-text-color: #ffffff;
    --p-text-muted-color: #f8fafc;
}
