<p-dialog
  [header]="content.title"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '560px', maxHeight: '90vh' }"
  styleClass="guideline-dialog"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
>
  <div class="guideline-intro">{{ content.intro }}</div>
  <ol class="guideline-list">
    <li *ngFor="let section of content.sections">
      {{ section.heading }}
      <ul *ngIf="section.items.length > 0">
        <li *ngFor="let item of section.items">{{ item }}</li>
      </ul>
    </li>
  </ol>

  <div class="dialog-actions">
    <button pButton type="button" class="continue-btn" [disabled]="loading" (click)="onContinue()">
      {{ loading ? "Please wait..." : continueLabel }}
    </button>
  </div>
</p-dialog>
